@font-face {
  font-family: "InterRegular";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterBold";
  src: url("./assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "InterExtraBold";
  src: url("./assets/fonts/Inter-ExtraBold.ttf");
}

body {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}